<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <%- include('./partials/css') %>
</head>
<body>
    <h1>BENEFICIARY LIST</h1>
    <table border style="margin-left: 550px;">
        <thead>
            <th>INSTITUTION</th>
            <th>TARGET</th>
            <th>CHIEF</th>
            <th>REAL TIME CREDIT</th>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < benef.length ; i++) { %>
            <tr>
                <td><%= benef[i].institution %></td>
                <td><%= benef[i].target %></td>
                <td><%= benef[i].head_of_institution %></td>
                <td style="text-align: center;"><%= benef[i].credit %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>