<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <%- include('./partials/css') %>
</head>
<body>
    <h1><%= data.donor_name %></h1>
    <a href="/donors/beneficiarylist/<%= data.id %>"><button>LIST DONATION</button></a>
    <a href="/donors/topup/<%= data.id %>"><button>TOP UP</button></a>
    <a href="/donors/edit/<%= data.id %>"><button>EDIT</button></a>
    <a href="/donors/logout"><button>LOG OUT</button></a><br><br>
    <form action="/donors/dashboard/topup/<%= data.id %>/claim" method="POST">
        <input type="text" name="token" id="token" placeholder="PUT YOUR TOKEN HERE">
        <input type="submit" value="CLAIM">
    </form><br><br>
    <h1>Rp. <%= data.credit %></h1><br><br>
    <h1>RECENT TRANSACTION ON INCOMPLETE BENEFICIARY</h1>
    <table border style="margin-left: 525px;">
        <thead>
            <th>INSTITUTION</th>
            <th>VALUE</th>
            <th>DATE</th>
        </thead>
        <tbody>
            <% for (let i = 0 ; i < history.length ; i++) { %>
                <tr>
                    <td><%= history[i].Beneficiary.institution %></td>
                    <td><%= history[i].amount %></td>
                    <td><%= history[i].createdAt %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>